@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');


ul {
    list-style: none;
    font-size: 30px;
    padding: 1rem;
    gap: 1rem;
    align-self: center;
    text-align: center;
    font-family: 'Hubballi', cursive;
}
    li:hover {
      background-color: #e5ec14;
      color: black;
      cursor: pointer;
      border-radius: 10px;
      }

      li.correct {
        background-color: rgb(20, 221, 20);
        border-radius: 10px;
      }

      li.selected:not(correct) {
        background-color: rgb(206, 58, 66);
        border-radius: 10px;
      }


    
  